
@{
    ViewBag.Title = "Caller";
}

<h2>Caller</h2>

<div>
    <video id="local-video" autoplay></video>
    <video id="remote-video" autoplay></video>
</div>

@section Scripts {

    <script type="text/javascript">

        var PeerConnection = window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
        var IceCandidate = window.mozRTCIceCandidate || window.RTCIceCandidate;
        var SessionDescription = window.mozRTCSessionDescription || window.RTCSessionDescription;

        navigator.getUserMedia = (navigator.getUserMedia ||
                   navigator.webkitGetUserMedia ||
                   navigator.mozGetUserMedia ||
                   navigator.msGetUserMedia);

        //Step 1: Define new PeerConnection

        $(function () {

            videoHubProxy = $.connection.videoHub;

            // Step 4: Listen for the Answer and set as remote description

            if (navigator.getUserMedia) {
                navigator.getUserMedia(
                    { audio: true, video: true },
                    function (stream) {

                        // Step 2: Add Stream to Peer Connection
                        // Step 5: Relay ICE candidates to the Callee
                        // Step 3: Create Offer, set Local Description, broadcast offer to Peers

                    });
            }

            $.connection.hub.start();

        });
    </script>
}