
@{
    ViewBag.Title = "Callee";
}

<h2>Callee</h2>

<div>
    <video id="local-video" autoplay></video>
    <video id="remote-video" autoplay></video>
</div>

@section Scripts {

    <script type="text/javascript">

        var PeerConnection = window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
        var IceCandidate = window.mozRTCIceCandidate || window.RTCIceCandidate;
        var SessionDescription = window.mozRTCSessionDescription || window.RTCSessionDescription;

        navigator.getUserMedia = (navigator.getUserMedia ||
                   navigator.webkitGetUserMedia ||
                   navigator.mozGetUserMedia ||
                   navigator.msGetUserMedia);

        //Step 1: Create a new PeerConnection


        //Step 5: Listen for the remote stream and set to video element

        $(function () {

            videoHubProxy = $.connection.videoHub;

            //Step 4: Listen for new ICE candidates and add to the PeerConnection
            //Step 2: Listen for offer and setRemoteDescription
            //Step 3: Create answer, setLocalDescription and send to offerer

            $.connection.hub.start();

        });


    </script>
}
